@import url('https://fonts.googleapis.com/css?family=Abel|Anton');

body {
    background-color: #f0f0f0;
    font-family: Anton, sans-serif;
}

.header {
    width: 100%;
    background-color: #f0f0f0;
}

.smlheader {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 40px;
}

.logo {
    height: 105px;
    width: 105px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 25px;

}

.title {
    font-family: Abel, sans-serif;
    text-align: center;
    margin-top: 35px;
}